<%- include('headerPatients') %>

    <main>
        <div class="container">
            <div class="title">
                <h1>Book Appointment</h1>
                <% if (typeof errors !=='undefined' && errors) { %>
                    <div class="errors">
                        <h3>WARNING !!</h3>
                        <% errors.forEach(err=> { %>
                            <p>
                                <%= err %>
                            </p>
                            <% }) %>
                    </div>
                    <% } %>
            </div>
            <form class="content" action="/patients/book" method="post">
                <div class="column">
                    <label>Age</label>
                    <input type="number" name="age">
                </div>
                <div class="column">
                    <label>Gender</label>
                    <select name="gender" class="column">
                        <option value="">-- SELECT GENDER --</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="column">
                    <label>Pilih Symptoms kamu:</label>
                    <% symptoms.forEach((symptom, i)=> { %>
                        <div style="display:flex; align-items:center; gap:10px; margin-top:8px;">
                            <input type="checkbox" name="symptoms" value="<%= symptom.id %>">
                            <span>
                                <%= symptom.name %>
                            </span>
                        </div>
                        <% }) %>
                </div>
                <div class="column">
                    <button class="btn" type="submit">Submit Booking</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('footerDoctors') %>