<%- include('headerDoctors') %>

    <main>
        <div class="container">
            <div class="title">
                <h1>Edit Doctors</h1>
                <% if (errors) { %>
                    <div class="errors">
                        <h3>WARNING !!</h3>
                        <% errors.forEach(err=> { %>
                            <p class="error">
                                <%= err %>
                            </p>
                            <% }) %>
                    </div>
                    <% } %>
            </div>
            <form class="content" action="/doctors/<%= doctors.id %>/editDoctors" method="post">
                <div class="column">
                    <label for="">Image URL</label>
                    <input type="text" name="imageUrl" value="<%= doctors.imageUrl %>">
                </div>
                <div class="column">
                    <label for="">Name Doctor</label>
                    <input type="text" name="name" value="<%= doctors.name %>" />
                </div>
                <div class="column">
                    <label for="">Doctor specialist</label>
                    <% let specialization=["General","Internal Medicine Specialist", "Heart" , "Lungs"
                        , "Digestive system" ,"Kidneys","Hormones","Sunat"] %>
                        <select name="specialization" id="" value="specialization">
                            <% specialization.forEach(specialization=> { %>
                                <option value="<%= specialization %>">
                                    <%= specialization %>
                                </option>
                                <% }) %>
                        </select>
                </div>
                <div class="column">
                    <label for="">Degree</label>
                    <% let degree=["S1", "S2" , "S3" ] %>
                        <select name="degree" id="" value="degree">
                            <% degree.forEach(degree=> { %>
                                <option value="<%= degree %>">
                                    <%= degree %>
                                </option>
                                <% }) %>
                        </select>
                </div>
                <div class="column">
                    <button class="btn" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('footerDoctors') %>