<%- include('headerDoctors') %>

<main class="editDiseases">
    <div class="container">
        <div class="title">
            <h1>Edit Diseases</h1>
             <% if (errors) { %>
                <div class="errors">
                    <h3>WARNING !!</h3>
                    <% errors.forEach(err => { %>
                    <p class="error"><%= err %> </p>
                    <% }) %>
                </div>
            <% } %>
        </div>
        <form class="content" action="/doctors/<%= diseases.id %>/editDiseases" method="post">
            <div class="column">
                <label for="">Name Diseases</label>
                <input type="text" name="name" value="<%= diseases.name %>">
            </div>
            <div class="column">
                <label for="">Description</label>
                <input type="text" name="description" value="<%= diseases.description %>"/>
            </div>
            <div class="column">
                <label for="">Level</label>
                <% let level = ["Mild", "Moderate", "Severe", "Critical"] %>
                <select name="level" id="" value="level">
                <% level.forEach(level => { %>
                    <option value="<%= level %>"><%= level %></option>
                <% }) %>
                </select>
            </div>
            <div class="column">
                <label for="">Specialist</label>
                <% let specialization = ["Internal Medicine", "Heart", "Lungs", "Digestive system","Kidneys","Hormones"] %>
                <select name="specialization" id="" value="specialization">
                <% specialization.forEach(specialization => { %>
                    <option value="<%= specialization %>"><%= specialization %></option>
                <% }) %>
                </select>
            </div>
            <div class="column">
                <button class="btn" type="submit">Edit</button>
            </div>
        </form>
    </div>
</main>
<footer class="footerDoctorsPage">
  <div class="container">
    <p>Copyright @Indraprasta and Evan 2026</p>
  </div>
</footer>
