<%- include('headerDoctors') %>

    <main class="editDiseases">
        <div class="container">
            <div class="title">
                <h1>Edit Diseases</h1>
                <% if (errors) { %>
                    <div class="errors">
                        <h3>WARNING !!</h3>
                        <% errors.forEach(err=> { %>
                            <p class="error">
                                <%= err %>
                            </p>
                            <% }) %>
                    </div>
                    <% } %>
            </div>
            <form class="content" action="/doctors/<%= diseases.id %>/editDiseases" method="post">
                <div class="column">
                    <label>Name Diseases</label>
                    <input type="text" name="name" value="<%= diseases.name %>">
                </div>
                <div class="column">
                    <label>Description</label>
                    <input type="text" name="description" value="<%= diseases.description %>" />
                </div>
                <div class="column">
                    <label>Level</label>
                    <% let level=["Mild", "Moderate" , "Severe" , "Critical" ] %>
                        <select name="level">
                            <% level.forEach(l=> { %>
                                <option value="<%= l %>" <%=diseases.level===l ? "selected" : "" %>><%= l %>
                                </option>
                                <% }) %>
                        </selsect>
                </div>
                <div class="column">
                    <label>Medicine</label>
                    <input type="text" name="medicine" value="<%= diseases.medicine %>" />
                </div>
                <div class="column">
                    <label>Specialist</label>
                    <% let specialization=["General","Internal Medicine Specialist", "Heart" , "Lungs" , "Digestive system"
                        , "Kidneys" , "Hormones" , "Sunat" ] %>
                        <select name="specialization">
                            <% specialization.forEach(s=> { %>
                                <option value="<%= s %>" <%=diseases.specialization===s ? "selected" : "" %>><%= s %>
                                </option>
                                <% }) %>
                        </select>
                </div>
                <div class="column">
                    <button class="btn" type="submit">Edit</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('footerDoctors') %>