<%- include('headerDoctors') %>

    <main class="listPatient">
        <div class="container">
            <div class="title">
                <h1>List Patient Booking</h1>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name Patient</th>
                        <th>Name Doctor</th>
                        <th>Diseases</th>
                        <th>Booking Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <% bookings.forEach((el, i)=> { %>
                        <tr class="trTd">
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <%= el.User.username %>
                            </td>
                            <td>
                                <%= el.Doctor.name %>
                            </td>
                            <td>
                                <%= el.Disease.name %>
                            </td>
                            <td>
                                <%= el.formatDate %>
                            </td>
                            <td>
                                <%= el.status %>
                            </td>
                            <td class="status">
                                <% if (el.status !=="done" ) { %>
                                    <form action="/doctors/booking/<%= el.id %>/switchStatus" method="post">
                                        <select class="btnSelect" name="status" onchange="this.form.submit()">
                                            <option disabled hidden>Switch Status</option>
                                            <option value="pending" <%=el.status==="pending" ? "selected" : "" %>
                                                >Pending</option>
                                            <option value="confirmed" <%=el.status==="confirmed" ? "selected" : "" %>
                                                >Confirmed</option>
                                            <option value="done">Done</option>
                                        </select>
                                    </form>
                                    <% } else { %>
                                        <p class="statusLocked">Status Locked</p>
                                        <% } %>
                            </td>
                        </tr>
                        <% }) %>
                </table>
            </div>
        </div>
    </main>

    <%- include('footerDoctors') %>